@using Microsoft.JSInterop;

@model GestorRegRespuestaOperador;
@{
    DatosLlamadaViewModel Datos = Model.buscarDatosLlamadaActual();

}

<div class="container">
    <div class="header col-12">
        <div>
            <a class="title">
                Nombre Cliente: @Datos.nombreCliente.ToString()
            </a>
        </div>
    </div>
    
    <dl class="post-info col-11">
        <div class="cr">
<<<<<<< HEAD
            <dt class="dt" ><b> Categoria Llamada: </b> @Model.CategoriaAMostrar.nombreCategoria.ToString()</dt>
            <dt class="dt" ><b> Opcion Seleccionada: </b> @Model.CategoriaAMostrar.OpcionLlamada.Nombre.ToString()</dt>
            <dt class="dt" ><b> Sub-Opcion Seleccionada: </b> @Model.CategoriaAMostrar.OpcionLlamada.subOpcionesLlamada[0].nombre.ToString()</dt>

            <dt class="dt">
                <b> Validaciones: </b>
                <select id="miSelect" onchange="habilitarTextarea()">
                    <option value="">Selecciona la validacion</option>
                    @foreach (string opcion in Model.Validaciones)
                    {
                        <option value="@opcion">@opcion</option>
                    }
                </select>
            </dt>

            <dt class="dt">
                <div class="mt-3">
                    <p class="col-8" style="align-content:center;"> <b> Descripcion de respuesta: </b></p><textarea id="miTextarea" disabled></textarea>
                </div>
            </dt>
        </div>
    </dl
=======
            <dt class="dt"> <b>Categoria Llamada: </b>  @Datos.CategoriaAMostrar.nombreCategoria.ToString()</dt>
            <dt class="dt"><b> Opcion Seleccionada: </b> @Datos.CategoriaAMostrar.OpcionLlamada.Nombre.ToString()</dt>
            <dt class="dt"><b> Sub-Opcion Seleccionada: </b> @Datos.CategoriaAMostrar.OpcionLlamada.subOpcionesLlamada[0].nombre.ToString()</dt>
            
        </div>
    </dl>
>>>>>>> 4db40c1b60bef897b85fd30733329f8248215693
</div>

@section Scripts{

}